@config "../tailwind.config.ts";
@import "tailwindcss";

@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("/fonts/MyFont/优设标题黑.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 217 91% 50%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 4.9%;
    --radius: 2rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --primary-hover: 217 91% 70%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 212 26% 83%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition-property: color, background-color;
    transition-duration: 300ms;
  }
}